@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: #181818;
    color: white;
}

body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

.button {
    width: 1.75rem;
    height: 1.75rem;
    display: block;
    color: white;
}

.button svg {
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 2rem;
}

.link-anchor svg {
    width: 2rem;
    height: 2rem;
    color: white;
}


/* EDITOR */

.editor {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 2rem;
}


/*      PRESETS */

.presets {
    padding: 0.7rem;
    background-color: #222;
    border-radius: 0.35rem;
}

.preset-box {
    margin-top: 0.75rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

#preset-selection {
    background: #191919;
    border: none;
    color: white;
    padding: 0.5rem;
}

#preset-selection:hover {
    cursor: pointer;
}


/*      FLAG CONTROLS */

.flag-canvas {
    aspect-ratio: 5/3;
    height: 30vh;
    display: flex;
}

.part {
    flex: 1;
    height: 100%;
}

.row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}